#carousel {
	width: 225px;
	height: 290px;
	margin: 0 auto;
	position: relative;
}

#slides {
	overflow: hidden;
	position: relative;
	width: 250px;
	height: 250px;
	border: 1px solid #ccc;
}

#slides ul {
	position: relative;
	left: 0;
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 1000px;
}

#slides li {
	width: 250px;
	height:250px;
	float: left;
}

#slides li img {
	padding: 0px;
}

#buttons {
	padding: 0 0 5px 0;
	position:absolute;
	top:37%;
	width: 328px;
	left: -17%;
}

#buttons a {
	display: block;
	width: 31px;
	height: 32px;
	text-indent: -999em;
	outline: 0;
}

a#prev {
	background: url(../images/arrow.png) 0 -31px no-repeat;
	float:left;
}

a#prev:hover {
	background: url(../images/arrow.png) 0 0 no-repeat;
}

a#next {
	background: url(../images/arrow.png) -32px -31px no-repeat;
	float:right;
}

a#next:hover {
	background: url(../images/arrow.png) -32px 0 no-repeat;
}

.clear {clear:both;}

#pagination {
	width:0;
	height:22px;
}

#pagination li {
	height: 20px;
	width: 20px;
	background-color: #BADA55;
	list-style-type: none;
	margin: 0 3px;
	float:left;
}

.pagination-list-item a {
	display:block;
	width: 20px;
	height: 20px;
	text-indent: -9999;
}








